@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=Poppins:wght@500&display=swap');



body {
    font-family: 'Montserrat',sans-serif;
}


.scrollable-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.images {
 width: 111px;
 height: 111px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
    padding-bottom: 20px;
}

.btn-show {
    border: none;
    background: rgb(245,197,218);
    background: radial-gradient(circle, rgba(245,197,218,1) 4%, rgba(101,172,190,1) 74%);
    color: white;
    padding:  10px 30px;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

th {
    padding: 10px 40px;
    background: rgb(245,197,218);
    background: radial-gradient(circle, rgba(245,197,218,1) 4%, rgba(101,172,190,1) 74%);
    color: white;
    font-size: 25px;
}

td {
    padding: 0px 20px;
    font-size: 14px;
    color:#8470bb;
    font-weight: 600;
}


.pagination-td {
    padding: 10px 40px;
}